
<form action="/coach_answer" data-turbo="false">
  <input type="text" name="my_question">
  <input type="submit" value="Ask!">
</form>
#form action represente ici la 2eme view que l'on appelle
# le 1er input type represente la box formulaire
# le 2eme input type represente le bouton submit (bootstrap) avec la value representant le titre du bouton
